.timeline-container {
    position: relative;
    /* padding-left: 40px; */
}

.timeline-item {
    margin-bottom: 30px; /* Adjust as needed */
}

.timeline-dot {
    position: absolute;
    top: 0;
    left: 15px; /* Adjust to position dot in the center of the line */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #333; /* Adjust color as needed */
    z-index: 1; /* Position dot above the line */
}

.timeline-content {
    /* padding-left: 20px; */
}

/* This creates the vertical line connecting the dots */
.timeline-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px; /* Adjust to position line behind the dots */
    width: 2px; /* Width of the line */
    height: 100%;
    background-color: #333; /* Adjust color as needed */
    z-index: 0; /* Position line below the dots */
}
