.tree-node{
  background-color: #698ab8;
  padding: 10px 0px;
  margin: 20px;
  /* box-shadow: 4px 4px rgba(70,70,70,0.68); */
  border-radius: 4px;
}

.person-text{
  color: white;
}

.person-id{
  display: none;
}

.person-name{
  display: none;
}

.person-title{
  font-size: 20px;
  display: block;
}

.key-title{
  margin-right: 10px;
  color: #061d86;
  font-weight: 600;
}

.person-rule-year{
  
}