<div class="container">
  <div class="tree-node row" *ngFor="let king of kings ">
    <div class="col-md-3">
      <div>
        <app-image-sequence-animator [personId]="king.id" [imageSequenceCount]="king.imageSequenceCount"></app-image-sequence-animator>
      </div>
    </div>
    <div class="col-md-9">
      <span class="person-id person-text">{{king.id}}</span>
      <span class="person-name person-text">{{king.firstName}}</span>
      <span class="person-title person-text">{{king.title}}</span>
      <span class="key-title">გამეფდა: </span>
      <span class="person-rule-year person-text">{{king.positionStartYear}}</span>
      <span class="key-title">მეფობის დასრულება: </span>
      <span class="person-rule-year person-text">{{king.positionEndYear}}</span>
      <span class="key-title">წოდება: </span>
      <span class="person-courtesy-title person-text">{{king.courtesyTitle}}</span>
    </div>
  </div>
</div>